body {
    margin: 0;
    text-align: center;
    font-family: "Work Sans";
    color: #1B1C1E;
    /*min-width: 500px;*/
}

/* ----- HERO SECTION ----- */
#hero-section img {
    width: 100vw;
    max-width: 100%;
    /* max-height: 100%; */
    display: block; /* remove extra space below image */
}

#hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    width: 90%;
    margin: 0 auto;
}

#hero-title {
    font-weight: 600;
    margin-bottom: 0;   
}

#hero-body-text {
    max-width: 100%;
    /*width: 900px;*/
    margin-top: 0.625em;
    padding-bottom: 0.937em;
    line-height: 1.3;
}

/* ----- MAIN SECTION ----- */
#main-section {
    width: 100%;
    /* height: 800px; */
    background: #e7efe5;
}

#main-body-title {
    font-size: 1.625rem;
    font-weight: 600;
    margin-top: 0;
    padding-top: 1.384em;
}

/* body */
.main-section-images-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.875em;
    flex-wrap: wrap;
    column-gap: 2em;
}

.experience-img-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    margin-bottom: 2em;
}

.experience-img {
    width: 250px;
}

.experience-name {
    width: 250px;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600;
    /* background: #ffffff;*/
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.experience-desc {
    max-width: 100%;
    width: 250px;
    font-size: 14px;
    /* background: lightgray;
    padding-top: 10px;
    padding-bottom: 10px; */
    margin-top: 0;
    margin-bottom: 0;
}

/* ----- LOWER SECTION ----- */
#lower-main-section {
    width: 100%;
    /* height: 450px; */
    background: #f4edd8;
}

#lower-main-body-title {
    font-weight: 600;
    margin-top: 0;
    padding-top: 20px;
    font-size: 26px;
}

.lower-main-section-images-row {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
    column-gap: 2em;
}

.market-img-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.market-img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.market-name {
    width: 250px;
    margin-top: 5px;
    font-size: 22px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.market-desc {
    max-width: 100%;
    width: 250px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

/* ----- FACTS AND ADVICE SECTION ----- */
#facts-and-advice-section {
    display: flex;
    justify-content: center;
    margin-top: 0;
    /* height: 600px; */
}

li {
    padding: 20px 0;
    text-align: start;
    font-size: 22px;
    width: 100%;
}

#facts-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #cef4ff;
}

#facts-section-title {
    font-weight: 600;
    margin-top: 0;
    padding-top: 20px;
    font-size: 26px;
    margin-bottom: 0;
}

.list-container {
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}

#facts-list {
    margin-top: 10px;
}

#advice-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    background: #d1ffe7;
}

#advice-section-title {
    font-weight: 600;
    margin-top: 0;
    padding-top: 20px;
    font-size: 26px;
    margin-bottom: 0;
}

#advice-list {
    margin-top: 10px;
}

/* ----- FOOTER SECTION ----- */
#footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 125px;
}

#project-credits {
    font-weight: normal;
    margin-top: 0;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 0;
}

/* ----- MEDIA QUERIES ----- */
@media (min-width: 768px) {
    /* ----- HERO SECTION ----- */
    #hero-body-text {
        width: 900px;
        font-size: 1.25rem;
    }
}

@media (max-width: 767px) {
    /* ----- HERO SECTION ----- */
    #hero-body-text {
        width: 600px;
    }

    #hero-title {
        font-size: 1.5rem;
    }
}